<?xml version="1.0"?>
<config>
    <tabs>
        <pro_digital translate="label" module="scarabresearch">
            <label>Scarab Magento Connector</label>
            <sort_order>196</sort_order>
        </pro_digital>
    </tabs>
    <sections>
        <scarab_research translate="label" module="scarabresearch">
            <label>Configuration</label>
			<class>scarab_connector_section</class>
            <tab>pro_digital</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Scarab Connector</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <merchantid translate="label">
                            <label>Merchant ID</label>
                            <comment>If you login to your Scarab Dashboard, you will see it in the top left corner.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchantid>
                    </fields>
                </general>
                <export translate="label">
                    <label>Catalog Export</label>
					<comment>To enable automated updates of your product catalog by Scarab, simply insert the following URL in your Scarab Dashboard > My Account > Catalog Export: mywebshopdomain.com/export/scarab.csv</comment>
					<frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<catalog_time translate="label">
                            <label>Last catalog upload</label>
                            <comment>Last file creation date</comment>
                            <frontend_type>text</frontend_type>
                            <frontend_model>scarabresearch/adminhtml_system_config_fieldset_filetime</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </catalog_time>
                       	<manual>
							<label>Export catalog now</label>
							<comment>Catalog file will created in a new window, please do not close the window while working</comment>
                            <frontend_type>button</frontend_type>
                            <frontend_model>scarabresearch/manualupload</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</manual>
                    </fields>
                </export>
				<widgets translate="label">
                    <label>Recommender Widgets</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<scarabproduct translate="label">
                            <label>Product Page RELATED</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </scarabproduct>
                        <scarabproductcount translate="label">
                            <label>Product count on view page</label>
                            <comment>Number of displayed product in recommender box.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </scarabproductcount>
						<scarabproduct2 translate="label">
                            <label>Product Page ALSO_VIEWED</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </scarabproduct2>
                        <scarabproductcount2 translate="label">
                            <label>Product count on view page</label>
                            <comment>Number of displayed product in recommender box.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </scarabproductcount2>
						<scarabcheckout translate="label">
                            <label>Cart/Checkout Page - CART</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </scarabcheckout>
                        <scarabcheckoutcount translate="label">
                            <label>Product count on checkout page</label>
                            <comment>Number of displayed product in recommender box.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </scarabcheckoutcount>
						<scarabcheckout2 translate="label">
                            <label>Cart/Checkout Page - PERSONAL</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </scarabcheckout2>
                        <scarabcheckoutcount2 translate="label">
                            <label>Product count on checkout page</label>
                            <comment>Number of displayed product in recommender box.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </scarabcheckoutcount2>
				    </fields>
				</widgets>
            </groups>
        </scarab_research>
    </sections>
</config>