<?xml version="1.0"?>
<config>
    <modules>
        <PD_ScarabResearch>
            <version>1.0.13</version>
        </PD_ScarabResearch>
    </modules>
    <global>
        <models>
            <scarabresearch>
                <class>PD_ScarabResearch_Model</class>
            </scarabresearch>
        </models>
            <blocks>
                  <scarabresearch>
                        <class>PD_ScarabResearch_Block</class>
                  </scarabresearch>
            </blocks>
        <helpers>
            <scarabresearch>
                <class>PD_ScarabResearch_Helper</class>
            </scarabresearch>
        </helpers>
        <resources>
            <scarabresearch_setup>
                <setup>
                    <module>PD_ScarabResearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </scarabresearch_setup>
            <scarabresearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </scarabresearch_write>
            <scarabresearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </scarabresearch_read>
        </resources>
    </global>
      <default>
        <scarab_research>
            <general>
                        <enabled>0</enabled>
                        <merchantid></merchantid>
            </general>
            <export>
            </export>
                  <widgets>
                <scarabproduct>0</scarabproduct>
                <scarabproductcount>4</scarabproductcount>
                <scarabproduct2>0</scarabproduct2>
                <scarabproductcount2>4</scarabproductcount2>
                <scarabproduct3>0</scarabproduct3>
                <scarabproductcount3>4</scarabproductcount3>
                        <scarabcheckout>0</scarabcheckout>
                        <scarabcheckoutcount>4</scarabcheckoutcount>
                        <scarabcheckout2>0</scarabcheckout2>
                        <scarabcheckoutcount2>4</scarabcheckoutcount2>
                  </widgets>
        </scarab_research>
    </default>
    <frontend>
        <layout>
            <updates>
                <scarabresearch>
                    <file>scarabresearch.xml</file>
                </scarabresearch>
            </updates>
        </layout>
        <routers>
            <checkout>
                <args>
                    <modules>
                         <PD_ScarabResearch before="Mage_Checkout">PD_ScarabResearch_Checkout</PD_ScarabResearch>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <scarab_research translate="title" module="scarabresearch">
                                            <title>Scarab Research Section</title>
                                            <sort_order>55</sort_order>
                                        </scarab_research>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>            
            <layout>
                  <updates>
                        <scarabresearch>
                              <file>scarab_connector.xml</file>
                        </scarabresearch>
                  </updates>
            </layout>
    </adminhtml>
      <crontab>
            <jobs>
                  <export_scarab>
                        <schedule>
                              <cron_expr>0 4 * * *</cron_expr>
                        </schedule>
                        <run>
                              <model>scarabresearch/cron::backupcron</model>
                        </run>
                  </export_scarab>
            </jobs>
      </crontab>
</config>